-var menu=['О игрушке','Отзывы','Вопросы'];
-var menu_link=['about','reviews','faq'];
-var submenu=['Зачем нужен UNIQ?','Как UNIQ это делает?','Видеообзор','Технические характеристики','Подписка UNIQ','Мобильное приложение'];
-var submenu_link=['why_need','how_does','video_review','characteristics','subscription','mobile_app'];
header
    .container
        .m_header
            .logo
                a(href="#")
                    img(src=dir + "logo.svg")
            .mm_btn
                button.hamburger
                    span
                    span
                    span
        .mm_menu
            .header_row
                .col_left
                    ul.menu
                        for menu_item , index in menu
                            li(class=(index===0)? 'has_child': '')
                                a(href="#"+menu_link[index]+"")=menu_item
                                if index===0
                                    ul.sub-menu
                                        for sub_item , index in submenu
                                            li
                                                a(href="#"+submenu_link[index]+"")=sub_item
                .col_center
                    .logo
                        a(href="#")
                            img.logo_white(src=dir+"logo_w.svg")
                            img.logo_orange(src=dir+"logo.svg")
                .col_right
                    .lang_block
                        a.lang_btn(href="#")
                            img.flag(src=dir+'rus.svg')
                            span.txt Ру

                        ul.sub-menu
                            li
                                a(href="#")
                                    img.glag(src=dir+'esp.svg')
                                    span.txt Es
                            li
                                a(href="#")
                                    img.glag(src=dir+'us.svg')
                                    span.txt US

                    a.btn.modal_toggle(href="#pre_order_modal") Предзаказ



